.bar {
  background-color: black;
  color: white;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 150px;
  height: auto;
  display: block;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}